@tailwind base;
@tailwind components;
@tailwind utilities;


.customButton{
  @apply     
  px-6
  py-2.5
  bg-blue-600
  text-white
  font-medium
  text-xs
  leading-tight
  uppercase
  rounded
  shadow-md
  hover:bg-blue-700 hover:shadow-lg
  focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
  active:bg-blue-800 active:shadow-lg
  transition
  duration-150
  ease-in-out;
}




@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3{
    @apply text-4xl;
  }
  h4{
    @apply text-3xl;
  }
  h5{
    @apply text-2xl;
  }  
  h6{
    @apply text-xl;
  }  

  ol{
    @apply list-decimal
  }

  ul{
    @apply list-disc
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }  
}



